spring.application.name=oncoassist

spring.datasource.url=jdbc:postgresql://localhost:5432/oncoassist
spring.datasource.username=postgres
spring.datasource.password=Gayr@@9691
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update

spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

spring.jpa.properties.hibernate.jdbc.time_zone=UTC

spring.datasource.hikari.connection-init-sql=SET NAMES 'UTF8'

logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.type.descriptor.sql=TRACE

# JWT
jwt.secret=T25jb0Fzc2lzdFNlY3JldEtleVBvdXJKV1RUb2tlblRyZXNMb25nMjAyNEF0TGVhc3QyNTZCaXRzTG9uZw==
jwt.expiration=86400000

# Email (Gmail exemple - adapte pour ton serveur SMTP)
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=hindharrab03@gmail.com
spring.mail.password=ksdi unzb miza vctd
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

app.upload.dir=uploads/photos
spring.servlet.multipart.max-file-size=5MB
spring.servlet.multipart.max-request-size=5MB

# Frontend URL (pour le lien reset password)
app.frontend.url=http://localhost:5173